.font2{
    font-family: 'Times New Roman', Times, serif;
}

.selected{
    color: green;
}
.shop{
    color: green;
    font-size: large;
}
body {
    background-color:beige; 
}
.page-right{
    float: right;
}
.horizontal{
    display: flex; /* Enables flexbox */
    gap: 10px; /* Adds spacing between items */
}
.bar-color{
    background-color: beige;
}
.navbar .nav-link.selected {
    font-weight: bold;
    text-decoration: underline;
}
.table-box {
    max-width: 1000px; /* Adjust width as needed */
    border: 1px solid #ddd; 
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
}.table-box .table {
    margin: 0;
}
